h1 a, h2 a {
    color: #27917f;
    font-family: 'Lobster';
}


body
{
  background-image: url(/static/images/back-repeat.png);

}


.page-header {
    background: linear-gradient(to right, #ff0000, #ff9900, #fff600);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-left: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h2.special {
  font-family: 'Lobster';
  color: red;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


.date {
    color: #828282;
    margin-left: 16px;
    margin-bottom: 2px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post a, .post a:visited {
    color: #ffae00;
    text-decoration: none;
}

.post-detail-image{
  width: 150px;
}

.login{
  color: black;
  background: linear-gradient(to right, #ffc6c6, #ffe5c6, #fffcc6, #ddffc6, #c6ffdf, #c6dfff, #e1c6ff);
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

.chat{
  font-size: 20px;
  text-align: center;
}

.list
{
  font-size: 18px;
  margin-top: 10px;
}

.list-group
{
  margin-right: 70%;
  margin-left: 0%;
  margin-top: 20%;
}


.albert{
  margin-right: 40px;
}

.pull
{
  float: right;
  margin-top: 70px;
  margin-right: 0;
  padding-right: 0;

}

.medal, .roi, .beat, .course
{
  margin-bottom: 15px;
}

div#galerie
{
  width: auto ;
  background: #ffffff ;
  box-shadow: 2px 3px 3px #b5b5b5;
  border-radius: 15px;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
  font: 0.9em Arial, serif ;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  float: left ;
}

ul#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px solid orange;
  height: 70px;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: black ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px solid
  max-width: 500px;
}

.google
{
  display: block;
  background-color: white;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.google:hover
{
    box-shadow: 2px 3px 3px #b5b5b5;
}

.post
{
  margin-bottom: 30px;
}

@media screen and (max-width: 720px)
{
  .google
  {
    text-align: center;
  }


  .microsoft
  {
    text-align: center;
  }


  .list
  {
    float: none;
  }
}


p{
  color: black;
}


.microsoft
{
  display: block;
  margin-top: 5px;
  background-color: white;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.apple{
  margin: 7px;
}
